
/* macht man immer, wichtig, weil Webiste auf jedem Broweser imme rgleich aussieht */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* das hier machen, um zu testen, dass alles richtig verlinkt ist */
body{
    background-color: rgba(144, 204, 203, 1);
    font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif;
}



/* Hintergrund für die Infos (grün) und grösse der Box*/
.leaflet-popup-content-wrapper{
    background-color: rgba(208, 219, 174, 1) !important;

}
.leaflet-popup-tip {
	background: rgba(208, 219, 174, 1) !important;

}
.leaflet-popup-content-wrapper{
    width: 230px;
    height: 230px;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.2;
   
}




/* Grösse der Map */
#map{
    width: 100%;
    height: 100vh;
    margin: 50px auto 0 auto; /* 50px Abstand nach oben */
    position: relative;
    z-index: 1;
}

/* Titel udn Untertitel stylen */
.titel{
    font-size: 3.3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgba(102, 97, 97, 1);
    margin-top: 50px
}

.untertitel{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: rgba(102, 97, 97, 1);
}



/* Informationen in Box stylen */

h2{
    font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}
.status{
    font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin:0;
    text-align: center;
    line-height: 1.2;
    margin-top: -70px;
  
}


.adresse{
 font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif;
 text-align: center;
 margin: 0;
 font-size: 12px;
}

.freiePlaetze{
 font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif; 
 margin:0; 
}

.gesamtePlaetze{
  font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif;  
  margin: 0;
}

.gesamte_plaetze{
font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif;
text-align: right;
margin:0; 
}

.auslastung {
  font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif !important;
  text-align: right !important;
  margin: 0;
}


/* Standort-Pop-up */
/* Gesamter Popup-Wrapper */
.leaflet-popup-content-wrapper {
    background-color: rgba(105, 158, 154, 1) !important; /* Blau */
    color: rgb(0, 0, 0) !important;
    border-radius: 10px;
}

/* Popup-Spitze (der kleine Pfeil nach unten) */
.leaflet-popup-tip {
    background-color: rgba(105, 158, 154, 1) !important;
}


.standort-popup {
    background-color: rgba(105, 158, 154, 1);
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px !important;  
    text-align: center !important;
    font-family: 'Bebas Neue', Impact, 'Arial Narrow', sans-serif !important;
}

.standort-popup .genauigkeit {
    font-size: 12px;
    font-weight: normal;
    display: block;
    margin-top: 4px;
}
