
/* macht man immer, wichtig, weil Webiste auf jedem Broweser imme rgleich aussieht */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* das hier machen, um zu testen, dass alles richtig verlinkt ist */
body{
    background-color: rgba(144, 204, 203, 1);
}



/* Hintergrund für die Infos (grün) und grösse der Box*/
.leaflet-popup-content-wrapper{
    background-color: rgba(208, 219, 174, 1) !important;

}
.leaflet-popup-tip {
	background: rgba(208, 219, 174, 1) !important;

}
.leaflet-popup-content-wrapper{
    width: 230px;
    height: 230px;
    padding: 10px;
    border-radius: 10px;
   
}


/* Grösse der Map */
#map{
    width: 100%;
    height: 100vh;
    margin: 90px auto 0 auto; /* 50px Abstand nach oben */
    position: relative;
    z-index: 1;
}

/* Titel udn Untertitel stylen */
.titel{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.untertitel{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}



/* Informationen in Box stylen */

.h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}
.status{
    font-size: 1rem;
    font-weight: bold;
    margin: 0.25rem 0;
}

.adress{
 
}

.freie_plaetze{
   
}

.gesamte_plaetze{
    
}

.gesamte_plaetze{

}

.auslastung{
    
}